.jumbotron{
    margin-bottom: 0rem !important;
}
.tieude{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    margin-top: 15px;
}
.navbar-nav .nav-link {
  color: white !important; /* Set the text color to white */
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
.card-body {
    display: flex;
    flex-direction: column;
  }
  .card-text {
    margin-top: auto;
  }
  .card-text sup {
    vertical-align: super;
    font-size: 70%;
    margin-left: 2px;
  }
  .card-text sup {
    vertical-align: super;
    font-size: 70%;
    margin-left: 2px;
  }
  .card-body {
    flex-grow: 1;
  }

  .card-footer {
    flex-shrink: 0;
  }
  .card img {
    max-height: 100%;
    width: 100%;
    object-fit: cover; /* Đảm bảo ảnh không bị méo khi điều chỉnh kích thước */
  }
/* Video - google Map */
.video{
    width:100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.googleMap{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-top: 15px;
    padding: 10px;
}
.nav-link:not(.active):hover{
  color: yellow !important;
  background-color: orange !important;
}
p a{
  color: white !important;
  padding: 10px;
}
p a:hover{
  color: blue !important;
}
.list-group-item.active {
  background-color: #4CAF50 !important; /* Mã màu xanh lá bạn muốn sử dụng */
  color: #fff; /* Màu chữ sẽ hiển thị trên nền xanh lá */
  border: 1px solid #4CAF50 !important; /* Thêm border style ở đây */
}
.list-group-item:not(.active):hover {
  color: yellow !important;
  background-color: orange !important;
}
.list-group-item.my-font{
  font-size: 1.75rem;
}

body,.jumbotron {
  background-image: linear-gradient(to right bottom,#d4ccc3,#FFCC00);
}
.card {
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgb(144, 112, 112);
}

/* Chi tiet san pham */

.product{
  width: 100%;
  height: auto;
  display: flex;
  margin: 30px 20px 30px 20px ;
  padding: 20px;
  border: 2px solid gray;
}
.product-img{
  position: relative;

}

.product-img-msi{
  width: 45rem;
  height: 45rem;
}

.product-infor{
  position: relative;
  padding: 30px;
  top: 10px;
  left: 40px;
}

.product-infor-name{
  font-weight: 900;
}

.product-infor-name h1:first-child{
  font-size: 3rem;
}

.product-infor-name h1:nth-child(2) {
  color: red;
}



.product--i

table, tr, td {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: fit-content;
  border: 2px solid gray;
  padding: 5px;
  background-color: white; 
}

tr{
  width: 50%;
}

td{
  width: 50%;
}